.container {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    background: lightgray;
    padding-top: 25px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 15%;
    float: left;
    height: 100%;
}

.content {
    background: white;
    width: 80%;
    height: 100%;
    float: right;
}

#name {
    margin-top: 0;
}

ul {
    padding-left: 0;
}

.nav-element {
    list-style-type: none;
    padding-top: 2px;
    font-weight: bold;
}

.nav-element a {
    text-decoration: none;
    color: black;
}