.container {
    margin-top: 100px;
    margin-bottom: 50px;
    overflow: hidden;
    height: 100%;
}

.sidebar {
    background: lightgray;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 15%;
    float: left;
    height: 100%;
}

.content {
    background: blue;
    width: 85%;
    max-height: 100%;
    float: right;
}

#name {
    margin-top: 0;
}

ul {
    padding-left: 0;
}

.nav-element {
    list-style-type: none;
    padding-top: 2px;
    font-weight: bold;
}