.container {
    margin-top: 100px;
    height: 80%;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    background: lightgray;
    padding-top: 25px;
    width: 15%;
    float: left;
    height: 100%;
}

.content {
    background: white;
    width: 80%;
    height: 90%;
    float: right;
    padding: 25px 2.5%;
}

.content p {
    margin-top: 0;
}

#name {
    margin-top: 0;
    padding-left: 10%;
}

ul {
    padding-left: 0;
}

.nav-element {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.nav-element a {
    text-decoration: none;
    color: black;
}

a {
    padding-left: 10%;
}

.nav-element:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;

}
