
input {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px gray;

    animation-name: opacity;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

form {
    width: 20%;
}

.login-table {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}

.login {
    display: flex;
    justify-content: center;

    animation-name: opacity;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

#login-title {
    position: absolute;
}


@keyframes slide {
    from {left: 50%}
    to {left: 35%}
}
@-webkit-keyframes slide {
    from {left: 50%}
    to {left: 35%}
}
@keyframes slide-password {
    from {left: 50%}
    to {left: 32%}
}
@-webkit-keyframes slide-password {
    from {left: 50%}
    to {left: 32%}
}

#password-title {
    position: absolute;
}

.center {
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
}

#login {
    display: inline-block;
    background-color: rgba(128,128,128,0.6);
    height: 25px;
    margin-top: 20px;
    outline: 0px;
    text-indent: 10px;
    font-size: large;
}

.password {
    width: 100%;
    display: flex;
    justify-content: center;

    animation-name: opacity;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

#password {
    background-color: rgba(128,128,128,0.6);
    height: 25px;
    margin-top: 20px;
    outline: 0px;
    text-indent: 10px;
    font-size: large;
}


#sign-in {
    border-radius: 25px;
    background-color: darkseagreen;
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    height: 30px;

}

#sign-in:hover {
    background-color: cornflowerblue;
    border-radius: 25px;
}

h2 {
    padding-top: 10%;
    text-align: center;
    font-size: 40px;

    animation-name: opacity;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

h3 {
    opacity: 0.4;
}

@-webkit-keyframes opacity {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes opacity {
    0% {opacity: 0}
    100% {opacity: 1}
}




