.login-table {
    padding-top: 5%;
    margin-right: 15%;
}

input {
    resize: none;
    padding: 1%;
    float: left;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px gray;

    animation-name: opacity;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.login {
    display: block;
    width: 100%;
    float: right;
    padding: 6px;

    animation-name: opacity;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

#login {
    background-color: rgba(128,128,128,0.6);
}

.password {
    margin-top: 20px;
    display: block;
    width: 100%;
    float: right;
    padding: 6px;

    animation-name: opacity;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

#password {
    margin-top: 20px;
    background-color: rgba(128,128,128,0.6);
}

.right {
    width: 40%;
    float: left;
    text-align: right;
    margin-right: 20px;
}

#sign-in {
    margin-top: 2%;
    margin-left: 43%;
    float: left;
    width: 30%;
    border-radius: 25px;
    background-color: darkseagreen;
}

#sign-in:hover {
    background-color: cornflowerblue;
}

h2 {
    padding-top: 10%;
    text-align: center;
    font-size: 40px;

    animation-name: opacity;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@-webkit-keyframes opacity {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes opacity {
    0% {opacity: 0}
    100% {opacity: 1}
}


