.container {
    display: block;
    height: 100%;
    padding: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lightgray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* The navigation menu links */
.sidenav input {
    border: none;
    background: none;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
    font-family: 'IBM Plex Serif', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* When you mouse over the navigation links, change their color */
.sidenav input:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    height: 80%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav input {font-size: 18px;}
}

#welcome-message {
    text-align: center;
}

.nav-top-element {
    margin-top: 0;
    margin-left: 32px;
    padding-bottom: 10%;
    border-bottom: 1px solid;
    border-color: rgba(0,0,0,0.5);
}

ul {
    padding-left: 0;
}

.nav-element {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;

}

.nav-element a {
    text-decoration: none;
    text-align: left;
    color: black;
    display: block;
    cursor: pointer;
}

a {
    padding-left: 5%;
}

.nav-element input {
    text-align: left;
    color: black;
    display: block;
    cursor: pointer;
    padding-left: 32px;
    font-weight: bold;
}

.navi-button {
    text-decoration: none;
    color: black;
    padding-left: 5%;
    border: none;
    background: none;
    font-weight: bold;
    font-size: large;
    font-family: 'IBM Plex Serif', sans-serif;
}

.nav-element:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    transition: all .4s ease-out;

}

.menu-icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

header {
    display: flex;
    flex-direction: row;
}

#menu {
    margin-left: 40px;
    background-color: #48b983;
    align-self: center;
    justify-self: center;
}

#name {
    font-size: larger;
    margin-left: 32px;
}

h2 {
    padding-top: 10px;
}