.mentor-info {
    display: flex;
    justify-content: center;
}

#mentors-table-name {
    font-size: 25px;
    margin-bottom: 15%;
}

.table-content {
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
}

.mentor-labels {
    width: 20%;
}

#profile-table-content {
    text-align: center;
}

.mentors {
    width: 40%;
    height: 50%;
}

#groups-table-name {
    font-size: 25px;
}