@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

.content h1 {
    font-size: 25px;
    color: black;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

section {
    font-family: 'IBM Plex Serif', sans-serif;
    margin: 50px;
}

table {
    width:100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: powderblue;
    border: solid 1px black;
}

.container h1 {
    text-align: center;
}

.tbl-content {
    height: 100%;
    overflow-x:auto;
    margin-top: 0;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: large;
    color: black;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: large;
    color: black;
    border-bottom: solid 1px black;
}