<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/css/manager.css" type="text/css" rel="stylesheet">
    <link href="/static/css/forms.css" type="text/css" rel="stylesheet">
    <link href="/static/css/table.css" type="text/css" rel="stylesheet">
    <script src="/static/js/sidenav.js" type="text/javascript"></script>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
        <li class="nav-element">
            <a href="promote">Promote user</a>
        </li>
        <li class="nav-element">
            <a href="tasks">Tasks</a>
        </li>
        <li class="nav-element">
            <form method="post">
                <input type="submit" name="logout" value="Logout">
            </form>
        </li>
    </ul>
</div>

<div id="main">

    <header>
        <div id="title-bar">
            <div id="menu" onclick="openNav()">
                <div class="menu-icon"></div>
                <div class="menu-icon"></div>
                <div class="menu-icon"></div>
            </div>
            <h1 id="title-text">Queststore</h1>
        </div>
    </header>

    <div class="container">

        <section>
            <h1>Available tasks</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th width="20%">Name</th>
                        <th width="50%">Description</th>
                        <th width="15%">Points</th>
                        <th width="15%">Category</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td width="20%">{{ task.getName() }}</td>
                            <td width="50%">{{ task.getDescription() }}</td>
                            <td width="15%">{{ task.getPoints() }}</td>
                            <td width="15%">{{ task.getCategory() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </div>

    <footer>
        <div id="bottom-bar">
            <p id="copyright">2018 Design and Implementation : Lukasz Pelczar, Nikodem Ciolczyk</p>
        </div>
    </footer>

</div>

</body>
</html>