<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/css/manager.css" type="text/css" rel="stylesheet">
    <link href="/static/css/table.css" type="text/css" rel="stylesheet">
    <script src="/static/js/sidenav.js" type="text/javascript"></script>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p id="name">Name: <strong> {{ userName }} </strong></p>
    <ul>
        <li class="nav-element">
            <a href="promote">Promote user</a>
        </li>
        <li class="nav-element">
            <a href="tasks">Tasks</a>
        </li>
        <li class="nav-element">
            <a href="addtask">Add task</a>
        </li>
        <li class="nav-element">
            <form method="post">
                <input type="submit" name="logout" value="Logout">
            </form>
        </li>
    </ul>
</div>

<div id="main">

    <header>
        <div id="title-bar">
            <div id="menu" onclick="openNav()">
                <div class="menu-icon"></div>
                <div class="menu-icon"></div>
                <div class="menu-icon"></div>
            </div>
            <h1 id="title-text">Queststore</h1>
        </div>
    </header>

    <div class="container">

        <div>
            <h2 id="welcome-message">{{ userName }}, welcome to Mentor panel!</h2>

            <section>
                <h1>Your students</h1>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Login</th>
                            <th>Level</th>
                            <th>Group</th>
                            <th>Team</th>
                            <th>Balance</th>
                            <th>Exp</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td>Marian</td>
                            <td>marian1</td>
                            <td>Beginner</td>
                            <td>Masters</td>
                            <td>RazDwaTrzy</td>
                            <td>8900</td>
                            <td>678000</td>
                        </tr>
                        <tr>
                            <td>Nikodem</td>
                            <td>nikodem1</td>
                            <td>Advanced</td>
                            <td>Kiedyprzerwa</td>
                            <td>Pro</td>
                            <td>75600</td>
                            <td>78900</td>
                        </tr>
                        <tr>
                            <td>Janusz</td>
                            <td>janusz</td>
                            <td>Beginner</td>
                            <td>Grupa</td>
                            <td>Janusze</td>
                            <td>1430</td>
                            <td>23400</td>
                        </tr>
                        <tr>
                            <td>Jurek</td>
                            <td>jurek1</td>
                            <td>Advanced</td>
                            <td>Kiedyprzerwa</td>
                            <td>Pro</td>
                            <td>2400</td>
                            <td>45700</td>
                        </tr>
                        <tr>
                            <td>Lukasz</td>
                            <td>lukasz1</td>
                            <td>Advanced</td>
                            <td>Kiedyprzerwa</td>
                            <td>Pro</td>
                            <td>1034500</td>
                            <td>345000</td>
                        </tr>
                        <tr>
                            <td>Damian</td>
                            <td>damian1</td>
                            <td>Advanced</td>
                            <td>GrupaMarzen</td>
                            <td>Pro</td>
                            <td>103450</td>
                            <td>2340</td>
                        </tr>
                        <tr>
                            <td>Adam</td>
                            <td>adam1</td>
                            <td>Advanced</td>
                            <td>Aa</td>
                            <td>Pro</td>
                            <td>122</td>
                            <td>256</td>
                        </tr>
                        <tr>
                            <td>Jan</td>
                            <td>jan1</td>
                            <td>Advanced</td>
                            <td>Jan</td>
                            <td>Pro</td>
                            <td>111</td>
                            <td>333</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </div>

    <footer>
        <div id="bottom-bar">
            <p id="copyright">2018 Design and Implementation : Lukasz Pelczar, Nikodem Ciolczyk</p>
        </div>
    </footer>

</div>

</body>
</html>